<app-menu></app-menu>

<div class="content">
  <div class="header">
    <h2>Atendimento</h2>
  </div>

  <div class="patient-info">
    <p><strong>Nome:</strong> {{ nome }}</p>
    <p><strong>Idade:</strong> {{ idade }} anos</p>
    <p><strong>Estagiario:</strong> {{ estagiarioNome }}</p>
  </div>

  <form>
    <div class="input-row">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Anamnese</mat-label>
        <textarea matInput [(ngModel)]="anamnese" name="anamnese"></textarea>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Exame Físico</mat-label>
        <textarea matInput [(ngModel)]="exameFisico" name="exameFisico"></textarea>
      </mat-form-field>
    </div>

    <div class="input-row">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Solicitação de Exames</mat-label>
        <textarea matInput [(ngModel)]="solicitacaoExames" name="solicitacaoExames"></textarea>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Orientação</mat-label>
        <textarea matInput [(ngModel)]="orientacao" name="orientacao"></textarea>
      </mat-form-field>
    </div>

    <div class="input-row">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Prescrição</mat-label>
        <textarea matInput [(ngModel)]="prescricao" name="prescricao"></textarea>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Conduta</mat-label>
        <textarea matInput [(ngModel)]="conduta" name="conduta"></textarea>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>CID-10</mat-label>
      <input matInput [(ngModel)]="cid10" name="cid10">
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button class="cancel-btn" (click)="cancelarAtendimento()">Cancelar</button>
      <button mat-raised-button class="custom-btn" (click)="abrirModalExportarPDF()">Exportar PDF</button>
      <button mat-raised-button class="custom-btn" (click)="salvarAtendimento()">Salvar</button>
    </div>
  </form>
</div>
