.content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-top: 80px; 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.header {
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px; 
}

h2 {
  margin: 0;
  font-size: 22px;
  color: #333;
}

.patient-info {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
}


.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}


.half-width {
  width: 48%;
}

mat-form-field {
  display: block;
  width: 100%;
}

.mat-form-field-infix {
  min-height: 70px !important;
  display: flex;
  align-items: center;
}

textarea {
  min-height: 90px !important;
  font-size: 16px;
  padding: 10px;
  resize: none;
}

input {
  font-size: 16px;
  padding: 10px;
}


.buttons {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  margin-top: 20px;
}

.custom-btn, .cancel-btn {
  width: 120px;
  height: 40px;
  font-size: 14px;
}

.custom-btn {
  background-color: #0d47a1 !important;
  color: #fff !important;
}

.cancel-btn {
  background-color: #a10d0d !important;
  color: #fff !important;
}
