.container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px; 
}
.add-button {
    margin-top: 80px;
    background-color: #0d47a1 !important;
    color: #fff !important;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  