<div class="login-container">
  <h1 class="app-title">Interpront</h1>
  <mat-card class="login-card">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width" floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        @if (loginForm.controls['email'].invalid){
          <mat-error>Por favor digite um email válido</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width" floatLabel="always">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>
      <p class="register-link">
        Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
      </p>
      <button mat-raised-button color="accent" class="full-width" type="submit" [disabled]="!loginForm.valid">
        Entrar
      </button>
    </form>
  </mat-card>
</div>

<div class="footer-text-container">
  <p class="footer-text">Prontuário Interdisciplinar UNICENTRO</p>
</div>