<app-menu></app-menu>

<div class="cadastro-page">
  <h2>{{ pageTitle }}</h2>

  <div class="cadastro-form-container">
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="cadastro-form">
      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-error *ngIf="cadastroForm.controls['email'].invalid && cadastroForm.controls['email'].touched">
            Por favor, digite um email válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" type="text">
          <mat-error *ngIf="cadastroForm.controls['nome'].invalid && cadastroForm.controls['nome'].touched">
            O nome é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="Estagiário">Estagiário</mat-option>
            <mat-option value="Secretaria">Secretária</mat-option>
            <mat-option value="Professor">Professor</mat-option>
          </mat-select>
          <mat-error *ngIf="cadastroForm.controls['tipo'].invalid && cadastroForm.controls['tipo'].touched">
            Por favor, selecione um tipo.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Departamento</mat-label>
          <input matInput formControlName="departamento" type="text">
          <mat-error *ngIf="cadastroForm.controls['departamento'].invalid && cadastroForm.controls['departamento'].touched">
            O departamento é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="cadastroForm.controls['password'].hasError('minlength')">
            A senha precisa ter pelo menos 6 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Confirmar Senha</mat-label>
          <input matInput formControlName="confirmPassword" type="password" (input)="verificarSenha()">
          
          <mat-error *ngIf="cadastroForm.get('confirmPassword')?.hasError('required') && cadastroForm.get('confirmPassword')?.touched">
            Confirme a senha.
          </mat-error>
          
          <mat-error *ngIf="senhaInvalida && cadastroForm.get('confirmPassword')?.hasError('mismatch')">
            As senhas não coincidem.
          </mat-error>
        </mat-form-field>
        
      </div>

      <mat-error *ngIf="formInvalido" class="error-message">
        Preencha todos os campos corretamente.
      </mat-error>

      <div class="button-group">
        <button mat-raised-button color="warn" type="button" (click)="cancelar()">
          Cancelar
        </button>
        <button mat-raised-button color="accent" type="submit">
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
