<app-menu></app-menu>
<div class="content">
  <h2>Bem-vindo ao Interpront</h2>

  <div class="main-layout">
    <!-- Coluna Esquerda (Horário e Nome do Paciente) -->
    <div class="left-column">
      <h3>Atendimentos</h3>
      <div *ngFor="let agendamento of agendamentos" class="appointment">
        <p><strong>Horário:</strong> {{ agendamento.hora }}</p>
        <p><strong>Paciente:</strong> {{ agendamento.nome }}</p>
        <p *ngIf="tipoUsuario === 'Secretaria'"><strong>Profissional:</strong> {{ agendamento.profissionalNome }}</p>

        
        <div class="appointment-actions">
          <button mat-raised-button class="custom-btn" 
            (click)="iniciarAtendimento(agendamento)" 
            *ngIf="!dataNoPassado">
            Iniciar Atendimento
          </button>

          <mat-icon class="edit-icon" 
            *ngIf="tipoUsuario === 'Secretaria' && !dataNoPassado" 
            (click)="abrirModalAgendamento(agendamento)">
            edit
          </mat-icon>
          <mat-icon class="delete-icon" 
            *ngIf="tipoUsuario === 'Secretaria' && !dataNoPassado" 
            (click)="verificarIdEExcluir(agendamento.id)">
            delete
          </mat-icon>
        </div>
      </div>
    </div>

    <!-- Coluna Direita (Calendário) -->
    <div class="right-column">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected" (selectedChange)="buscarAgendamentos(selected)" [dateFilter]="filtroDatas"></mat-calendar>
      </mat-card>
      <p>Data selecionada: {{ selected | date: 'dd/MM/yyyy' }}</p>

      <button
        mat-raised-button
        class="custom-btn schedule-btn"
        *ngIf="tipoUsuario === 'Secretaria'"
        (click)="abrirModalAgendamento()">
        Agendar Atendimento
      </button>

    </div>
  </div>
</div>
