.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  mat-form-field {
    width: 100%;
  }

  .custom-btn {
    background-color: #0d47a1 !important;
    color: #fff !important;
  }
  
