<div class="navbar">
  <div class="logo">
    <h1>Interpront</h1>
  </div>
  <div class="menu">
    <a routerLink="/home" class="menu-item">Home</a>
    <a routerLink="/pacientes" class="menu-item">Pacientes</a>
    
    <a *ngIf="tipoUsuario === 'Secretaria'" routerLink="/usuarios" class="menu-item">Usuários</a>
    
    <a *ngIf="tipoUsuario === 'Professor'" routerLink="/estagiarios" class="menu-item">Estagiários</a>
    
    <a (click)="logout()" class="menu-item logout">Sair</a>
  </div>
</div>